<div fxLayout="row" fxLayoutAlign="space-around center">
    <div align="center" fxLayout="row" fxLayoutAlign="center center" class="register-form">

        <form #f="ngForm" role="form" [formGroup]="formRegister" (ngSubmit)="onSubmit()">

            <mat-card class="mat-elevation-z8" flex="80">

                <mat-card-title>Cadastrar Usuário</mat-card-title>

                <mat-card-content fxLayout="column" fxLayoutAlign="space-around stretch">
                    <h3 style="text-align: left;">Dados Pessoais</h3>

                    <mat-radio-group aria-label="Tipo de Pessoa" formControlName="pessoafisjur"
                        style="text-align: left;">
                        <mat-radio-button value="Pessoa Física">Pessoa Física</mat-radio-button>
                        <mat-radio-button value="Pessoa Jurídica">Pessoa Jurídica</mat-radio-button>
                    </mat-radio-group>

                    <div fxLayout="row" fxLayoutAlign="space-between stretch">
                        <mat-form-field fxFlex="50">
                            <input matInput maxlength="50" type="text" required formControlName="nome"
                                autocomplete="nome" placeholder="Nome Completo">
                        </mat-form-field>

                        <mat-form-field fxFlex="20">
                            <input matInput mask="d0/M0/0000" type="text" required formControlName="dtnascimento"
                                autocomplete="dtnascimento" placeholder="Data de Nascimento">
                        </mat-form-field>

                        <mat-form-field fxFlex="15">
                            <mat-label>Gênero</mat-label>
                            <select matNativeControl required formControlName="sexo">
                                <option value="Masculino">Masculino</option>
                                <option value="Feminino">Feminino</option>
                                <option value="Outros">Outros</option>
                            </select>
                        </mat-form-field>
                    </div>

                    <div fxLayout="row" fxLayoutAlign="space-between stretch">
                        <mat-form-field fxFlex="25">
                            <input matInput mask="0000000-0" type="text" required formControlName="rg" autocomplete="rg"
                                placeholder="RG">
                        </mat-form-field>

                        <mat-form-field fxFlex="25">
                            <input matInput mask="000.000.000-00" type="text" required formControlName="cpf"
                                autocomplete="cpf" placeholder="CPF">
                        </mat-form-field>

                        <mat-form-field fxFlex="20">
                            <input matInput mask="(00)0000-0000" type="text" formControlName="telefone"
                                autocomplete="telefone" placeholder="Telefone">
                        </mat-form-field>

                        <mat-form-field fxFlex="20">
                            <input matInput mask="(00)00000-0000" type="text" required formControlName="celular"
                                autocomplete="celular" placeholder="Celular">
                        </mat-form-field>
                    </div>

                    <h3 style="text-align: left;">Dados de Endereço</h3>
                    <div fxLayout="row" fxLayoutAlign="space-between stretch">
                        <mat-form-field fxFlex="20">
                            <input matInput mask="00000-000" type="text" required formControlName="cep"
                                autocomplete="cep" placeholder="CEP" (blur)="consultaCEP($event.target.value, f)">
                        </mat-form-field>
                        <!-- <small style="text-align: left;">
                            <a href="http://www.buscacep.correios.com.br/" class="buscaCepCorreios"
                                target="_blank">Esqueceu seu CEP?</a>
                        </small> -->
                        
                        <mat-form-field fxFlex="30">
                            <input matInput type="text" required formControlName="endereco" autocomplete="endereco"
                                placeholder="Endereço" readonly>
                        </mat-form-field>

                        <mat-form-field fxFlex="20">
                            <input matInput type="text" required formControlName="cidade" autocomplete="cidade"
                                placeholder="Cidade" readonly>
                        </mat-form-field>

                        <mat-form-field fxFlex="20">
                            <input matInput type="text" required formControlName="estado" autocomplete="estado"
                                placeholder="Estado" readonly>
                        </mat-form-field>
                    </div>

                    <div fxLayout="row" fxLayoutAlign="space-between stretch">
                        <mat-form-field fxFlex="30">
                            <input matInput type="text" required formControlName="bairro"
                                autocomplete="bairro" placeholder="Bairro" readonly>
                        </mat-form-field>
                        
                        <mat-form-field fxFlex="20">
                            <input matInput type="text" maxlength="10" required formControlName="numero" autocomplete="numero"
                                placeholder="Número">
                        </mat-form-field>

                        <mat-form-field fxFlex="20">
                            <input matInput type="text" maxlength="10" required formControlName="complemento" autocomplete="complemento"
                                placeholder="Complemento">
                        </mat-form-field>

                        <mat-form-field fxFlex="20">
                            <input matInput type="text" maxlength="20" required formControlName="referencia" autocomplete="referencia"
                                placeholder="Referência">
                        </mat-form-field>
                    </div>

                    <h3 style="text-align: left;">Dados da Conta</h3>
                    <div fxLayout="row" fxLayoutAlign="space-between stretch">
                        <mat-form-field fxFlex="30">
                            <input matInput type="email" maxlength="30" required formControlName="email" class="form-control"
                                value="email" autocomplete="email" placeholder="E-mail">
                        </mat-form-field>

                        <mat-form-field fxFlex="30">
                            <input matInput type="password" maxlength="16" required formControlName="senha" type="password"
                                autocomplete="off">
                            <mat-placeholder>
                                <mat-icon>lock</mat-icon> Nova Senha
                            </mat-placeholder>
                        </mat-form-field>

                        <mat-form-field fxFlex="30">
                            <input matInput type="password" maxlength="16" required formControlName="confirmasenha"
                                class="form-control" autocomplete="off">
                            <mat-placeholder>
                                <mat-icon>lock_outline</mat-icon> Confirmar senha
                            </mat-placeholder>
                        </mat-form-field>
                    </div>

                    <div fxLayout="row" fxLayoutAlign="end end">
                        <button mat-button color="primary" type="submit" [disabled]="!formRegister.valid">
                            <mat-icon>done</mat-icon>&nbsp;Registrar
                        </button>
                    </div>

                </mat-card-content>
            </mat-card>
        </form>


    </div>
</div>
<br><br>